@media (min-width: 768px) {

    h1 {
        font-size: 4rem; 
    }

    #lobby .subtitle {
        font-size: 1.5rem;
    }

    #gallery-walkthrough {
        padding: 4rem 3rem;
    }

}

@media (min-width: 1024px) {

    h1 {
        font-size: 5rem;
    }

    #lobby .intro-content p {
        font-size: 1.25rem;
    }

    #gallery-walkthrough h2 {
        font-size: 3rem;
    }

    #feedback-form {
        max-width: 700px;
        margin: 0 auto; 
    }

    .form-group {
        display: grid;
        grid-template-columns: 1fr 2fr; 
        gap: 1rem;
        align-items: center;
    }

    .form-group label {
        text-align: right; 
        margin-bottom: 0;
    }

    .modal-content {
        max-width: 1100px;
        width: 90%;
    }

    .artwork-info-block {
        padding-left: 2rem;
    }
}